@using Songhay.Models
@model Songhay.Blog.Models.BlogEntry
@{
    var absoluteUri = $"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}";
}
@section SocialHeaders {
    <!-- Open Graph protocol meta http://ogp.me/ -->
    <meta name="og:title" content="@Model.Title" />
    <meta name="og:type" content="website" />
    <meta name="og:url" content="@(absoluteUri)" />
    <meta name="og:image" content="@Url.Content("~/assets/favicon.ico")" />

    <!-- Twitter Cards https://dev.twitter.com/cards/overview -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@("@BryanWilhite")" />
    <meta name="twitter:title" content="@Model.Title" />
    <meta name="twitter:description" content=">Day Path_ Blog…" />
    <meta name="twitter:url" content="@(absoluteUri)" />
}
@section BlogHeaders {
    <!-- permalink -->
    <link rel="bookmark" href="@(absoluteUri)" />
}
@section StyleBlocks {
    <style>
        .entry {
            background-color: #fff;
            border-radius: 0.5em;
            color: #000;
            margin: 1.5em auto;
            max-width: 70em;
            width: 90%;
            padding: 2em;
        }
            .entry .entry-title a {
                text-decoration: none;
            }

                .entry .entry-title a:link,
                .entry .entry-title a:visited {
                    color: #000;
                    text-decoration: none;
                }

                .entry .entry-title a:hover {
                    background-color: #000;
                    color: #fff;
                }

            .entry .entry-date {
                margin-bottom: 1rem;
                position: relative;
            }

                .entry .entry-date span {
                    display: inline-block;
                    margin: 0 0.5em;
                    vertical-align: top;
                }

        div[data-tweet] {
            display: inline-block;
        }

        .entry .entry-content {
            padding: 2em;
            padding-top: 3em;
        }

            .entry .entry-content .Callout {
                background-color: #660b00;
                color: #fff5ee;
                font-size: 2em;
                margin: inherit auto 1em;
                padding: 0.5em;
                text-align: left;
                max-width: 75%;
            }

            .entry .entry-content .Note {
                background-color: #cf0;
                margin: inherit auto 1em;
                padding: 0.5em;
                text-align: left;
            }

                .entry .entry-content .Note p {
                    margin: 0;
                    margin: 1em inherit;
                }

        acronym {
            cursor: help;
        }

        .entry .entry-content p {
            margin-top: 1.5em;
        }

        .entry .entry-content ul {
            list-style-type: square;
            margin-left: 3em;
            margin-top: 1.5em;
        }

            .entry .entry-content ul li {
                margin-bottom: 0.5em;
            }

        .entry .entry-content h2,
        .entry .entry-content h3,
        .entry .entry-content h4 {
            margin-top: 1.5em;
        }

        .entry .entry-content img {
            max-width: 90%;
        }

        .entry .entry-content blockquote,
        .entry .entry-content .Quote {
            background-color: #eaeaea;
            border-left: 10px solid #b21300;
            margin: 1.5em auto 1em auto;
            max-width: 75%;
            padding: 0.25em;
            text-align: left;
        }

            .entry .entry-content blockquote p,
            .entry .entry-content .Quote p {
                margin: 1.5em;
            }

        .entry .entry-content code,
        .entry .entry-content kbd {
            background-color: #cfc;
            color: navy;
            font-family: Consolas, Monaco, 'Andale Mono', 'DejaVu Sans Mono', monospace;
            font-size: smaller;
        }

        .entry .entry-content pre {
            background-color: #cfc;
            color: navy;
            font-family: Consolas, Monaco, 'Andale Mono', 'DejaVu Sans Mono', monospace;
            line-height: 1.5em;
            margin-bottom: 1.5em;
            margin-top: 1.5em;
            overflow: auto;
            padding: 0.75em 1.625em;
        }

        .entry .entry-content .sourceCode pre {
            white-space: normal;
        }

            .entry .entry-content .sourceCode pre code .sourceLine {
                display: block;
            }

        .entry .entry-content sup {
            font-size: 1em;
        }

            .entry .entry-content sup.CleanXhtmlFootnoteReference {
                background-color: #eaeaea;
            }

        .entry .entry-content .WordWalkingStickTable {
            border: 2px solid #063;
            border-collapse: collapse;
            margin-left: auto;
            margin-right: auto;
            margin-top: 1.5em;
            width: 90%;
        }

            .entry .entry-content .WordWalkingStickTable td {
                border-top: 1px solid #063;
            }

            .entry .entry-content .WordWalkingStickTable th {
                background-color: #063;
                color: #fff5ee;
                font-weight: 700;
            }

            .entry .entry-content .WordWalkingStickTable td,
            .entry .entry-content .WordWalkingStickTable th {
                padding: 0.25em;
                vertical-align: top;
            }
    </style>
}
<div class="entry body-content">
    <h1 class="entry-title"><a href="~/blog/entry/@Model.Slug">@Html.Raw(Model.Title)</a></h1>
    <div class="entry-date">@Model.InceptDate.ToString("dddd, MMMM d, yyyy")</div>
    <div class="entry-social">
        <!--reference: https://about.twitter.com/resources/buttons-->
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="BryanWilhite">Tweet</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
    </div>
    <div class="entry-content">@Html.Raw(Model.Content)</div>
</div>
