@using Songhay
<!DOCTYPE html>
@{
    ViewBag.Title = ">Day Path_";
}
<html lang="en">
<head>
    <meta name="description" content="The technical journal of @("@BryanWilhite")" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="google-site-verification" content="MyXJp0qYgoTSi472GCarwPFWqvRZAo8khVV_FXV33tI" />
    <meta name="msvalidate.01" content="9C08B066B4967EBE515E0CC7C146DE30" />

    @RenderSection("SocialHeaders", required: false)

    @RenderSection("StyleLinks", required: false)
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1 class="hidden">DayPath Journal</h1>
    @RenderBody()
    <div class="footer">
        <span>@(FrameworkAssemblyUtility.GetAssemblyInfo(this.GetType().Assembly))</span>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
