@using Songhay
@using Songhay.Blog
@using Songhay.Blog.Models
<!DOCTYPE html>
@{
    ViewBag.Title = ">Day Path_";
}
<html lang="en">
<head>
    <meta name="description" content="The technical journal of @("@BryanWilhite")" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="google-site-verification" content="MyXJp0qYgoTSi472GCarwPFWqvRZAo8khVV_FXV33tI" />
    <meta name="msvalidate.01" content="9C08B066B4967EBE515E0CC7C146DE30" />

    @RenderSection(AppScalars.renderSectionSocialHeaders, required: false)

    @RenderSection(AppScalars.renderSectionBlogHeaders, required: false)

    <link href="~/assets/css/styles.min.css" rel="stylesheet" />
    <style>
        .mat-body {
            margin: 1rem;
        }
        .footer {
            text-align: center;
        }

        .footer > .server-assembly-info {
            display: inline-block;
            font-size: 0.75rem;
            white-space: pre-line;
        }
    </style>

    @RenderSection(AppScalars.renderSectionStyleBlocks, required: false)

    <title>@ViewBag.Title</title>
</head>
<body class="mat-body mat-app-background mat-typography">
    <h1>DayPath Journal by @("@BryanWilhite")</h1>
    @RenderBody()
    <div class="footer">
        <span class="server-assembly-info">@(FrameworkAssemblyUtility.GetAssemblyInfo(typeof(Program).Assembly))</span>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
